

/* Overall body styling */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4a4;
    color: rgb(51, 51, 51);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}



.navbar .btn {
    background: transparent;
    border: none;
    color: #ffffff;
}

/* Side navigation styling */
.side-nav-open {
    background-color: #883d3d;
    width: 250px;
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 1px solid #ddd;
}

.side-nav-top {
    padding: 15px 0;
}

.side-bar-item {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    color: #0d783a;
    display: block;
}

.side-bar-item:hover,
.side-bar-item-active {
    background-color: #f8f9fa;
}



/* Main content area */
.content {
    margin-left: 250px; /* Same as side nav width */
    padding: 20px;
}

.content-body {
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card {
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card-body {
    padding: 20px;
}

.card h5 {
    color: #0d783a;
}

.btn-behance {
    background-color: #0d783a;
    color: #ffffff;
    border: none;
}

.btn-behance:hover {
    background-color: #0d783a;
}


/* Utility classes */
.mt-2 {
    margin-top: 0.5rem;
}
.p-2 {
    padding: 0.5rem;
}

/* Adjustments for small devices */
@media (max-width: 768px) {
    .side-nav-open {
        width: 100%;
    }

    .content {
        margin-left: 0;
    }
}


.side-nav-top img {
    transition: transform 0.3s;
}
.side-nav-top img:hover {
    transform: scale(1.1);
}
.side-bar-item:hover {
    background-color: #f0f0f0;
    transition: background-color 0.3s;
}
.btn-behance {
    background-color: #0d783a;
    color: white;
    transition: background-color 0.3s;
}
.btn-behance:hover {
    background-color: #0d783a;
    color: white;
}
.card-body {
    animation: fadeInUp 1s;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 40px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
/*-----------------------------*/
body {
  background-color:#F5F5F5 !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 400 !important;
}
h1,h2,h3,h4,h5,h6,p,a,button {
    text-transform: none !important;
    font-family: "Roboto", sans-serif !important;
}
pre {
    color:white;
    border: 1px solid #cdcdcd !important;
    background-color: #1D2934 !important;
    padding: 10px !important;
}

/* Webcam Container styling with animation */
#webcamContainer {
    border: 2px solid #00060b; /* Blue border for visibility */
    padding: 10px;
    margin-top: 20px;
    display: none; /* Hidden by default, shown when activated */
    animation: fadeInScale 1.5s ease forwards; /* Animation when shown */
}

/* Keyframes for fadeInScale animation */
@keyframes fadeInScale {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Enhanced styling for the video element */
#webcam {
    width: 100%; /* Responsive width */
    max-width: 640px; /* Maximum size */
    border-radius: 8px; /* Rounded corners for the video frame */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

/* Content Div  */
.content-body {
  padding: 80px 20px 20px 20px !important;
}
.content-title {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.content-title-hr {
  margin-top: 5px;
  background: #c2c2c2;
}
.code{
    border-radius: 4px;
    width: 100% !important;
    padding: 10px;
    margin: 0 auto;
    background: #1D2934;
    color: white;
}
.photo{
    border-radius: 4px !important;
    width: 100% !important;
    height:240px;
    object-fit: cover;
}
.json-view{
    border-radius: 4px !important;
    padding: 20px !important;
    width: 100% ;
    height:400px;
    overflow: auto;
}
.LoadingOverlay {
    display: block;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 50000!important;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: rgba(245, 245, 245, 0.8);
}
.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
/* Side Nav Bar */
.side-nav-open {
    height: 100%;
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s;
    background-color: #ffffff;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 16%);
    scrollbar-color: #0d783a #F5F5F5;
    scrollbar-width: thin;
}
.side-nav-close {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    scrollbar-color: #0d783a #F5F5F5;
    scrollbar-width: thin;
}
.side-nav-open::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.side-nav-open::-webkit-scrollbar-track-piece  {
    background-color: #F5F5F5;
}
.side-nav-open::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    border-radius: 4px;
    background: #0d783a;
}
.side-nav-close::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.side-nav-close::-webkit-scrollbar-track-piece  {
    background-color: #F5F5F5;
}
.side-nav-close::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    border-radius: 4px;
    background: #0d783a;
}
.content {
    transition: 0.3s;
    margin-left: 240px;
}
.content-expand {
    transition: 0.3s;
    margin-left: 0;
}
.top-navbar{
    padding: 2px !important;
    background:#1e7d30;
    transition: 0.3s;
    margin-left: 240px;
    box-shadow: 0 2px 10px -3px rgb(0 0 0 / 16%);
}
.top-navbar-expand{
    padding: 2px !important;
    background:#ffffff;
    transition: 0.3s;
    margin-left: 0;
    box-shadow: 0 2px 10px -3px rgb(0 0 0 / 16%);
}
.side-nav-top{
    width: 100%;
    height: 130px;
    padding: 10px;
}
.side-nav-logo {
    width: 120px;
    height: auto;
}

.side-nav-logo {
    color: #19e165;
    width: 100px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure it behaves as a block element */
    margin: 0 auto; /* Center align horizontally */
    border-radius: 50%; /* Create a circular shape */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Add subtle shadow */
}

.side-bar-item{
    display: inline-block;
    padding: 8px 15px 8px 15px;
    border-left: 6px solid #ffffff;
    width: 100% !important;
}
.side-bar-item:hover{
    cursor: pointer ;
    border-left: 6px solid #0d783a;
    transition: 0.2s;
    background-color: #f3f3f3;
}
.side-bar-item:hover .side-bar-item-icon {
    color: #0d783a;
}
.side-bar-item:hover .side-bar-item-caption {
    color: #1add6b;
}
.side-bar-item-active{
    border-left: 6px solid #0d783a;
    background-color: #f3f3f3;
}
.side-bar-item-icon{
    font-size: 20px;
    margin-left: 10px;
    font-weight: 300;
    color: #0d783a;
}
.side-bar-item-caption{
    font-size: 14px;
    margin-left: 5px;
    font-weight: 400;
    color: #1D2934;
}
.side-bar-group-label{
    font-size: 10px;
    margin-left: 5px;
    font-weight: 400;
    color: #000000;
}
.content-screenshot{
    width: 50%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0.5px solid black;
}

/* Styling for .btn-behance class */
.btnn {
    background-color: #0d783a; /* Change to a different blue shade */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    transition: all 0.3s ease; /* Transition for smooth color change */
    cursor: pointer;
    border-radius: 5px;
}

/* Hover effect for .btn-behance class */
.btnn:hover {
    background-color: #19e165; /* Darker shade of blue on hover */
    box-shadow: 0 5px 15px rgba(0,0,0,0.2); /* Add shadow for 3D effect */
    transform: translateY(-2px); /* Slightly raise the button */
}

/* Focus and active states to maintain accessibility and visual feedback */
.btnn:focus,
.btnn:active {
    outline: none; /* Removes the outline */
    box-shadow: 0 2px 10px rgba(0,0,0,0.2); /* Less pronounced shadow for active state */
    transform: translateY(-1px); /* Less raise than hover to indicate pressing */
}

/* Typo */
.content-text-light{
    font-family: "Roboto", sans-serif;
    font-weight: 300 !important;
    font-size: 16px;
}
.content-text-medium{
    font-family: "Roboto", sans-serif;
    font-weight: 500 !important;
    font-size: 16px;
}
.content-text-bold{
    font-family: "Roboto", sans-serif;
    font-weight: 700 !important;
    font-size: 16px;
}
.title-text-light{
    font-family: "Roboto", sans-serif;
    font-weight: 300 !important;
    font-size: 18px;
}
.title-text-medium{
    font-family: "Roboto", sans-serif;
    font-weight: 500 !important;
    font-size: 18px;
}
.title-text-bold{
    font-family: "Roboto", sans-serif;
    font-weight: 700 !important;
    font-size: 18px;
}
.lg-title-light{
    font-family: "Roboto", sans-serif;
    font-weight: 300 !important;
    font-size: 24px;
}
.lg-title-medium{
    font-family: "Roboto", sans-serif;
    font-weight: 500 !important;
    font-size: 24px;
}
.lg-title-bold{
    font-family: "Roboto", sans-serif;
    font-weight: 700 !important;
    font-size: 24px;
}


/* Responsive */
@media (max-width: 339.98px) {
    .content-title {
        font-size: 18px;
    }
    .content-card {
        padding: 20px 10px 20px 10px !important;
    }
    .side-nav-open {
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        overflow-x: hidden;
    }
    .side-nav-close {
        width: 180px;
        position: fixed;
        top: 0;
        left: 0;
        overflow-x: hidden;
    }
    .content {
        width: 100%;
        margin-left: 0;
    }
    .content-expand {
        width: 100%;
        margin-left: 180px;
    }
    .top-navbar{
        width: 100%;
        margin-left: 0;
    }
    .top-navbar-expand{
        width: 100%;
        margin-left: 180px;
    }
    .content-screenshot{
        width: 100%;
        height: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        border: 0.5px solid black;
    }
}

@media (min-width:340px) and (max-width: 360.98px) {
    .content-title {
        font-size: 18px;
    }
    .content-card {
        padding: 20px 10px 20px 10px !important;
    }
    .side-nav-open {
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        overflow-x: hidden;
    }
    .side-nav-close {
        width: 180px;
        position: fixed;
        top: 0;
        left: 0;
        overflow-x: hidden;
    }
    .content {
        width: 100%;
        margin-left: 0;
    }
    .content-expand {

        width: 100%;
        margin-left: 180px;
    }
    .top-navbar{
        width: 100%;
        margin-left: 0;
    }
    .top-navbar-expand{
        width: 100%;
        margin-left: 180px;
    }
    .content-screenshot{
        width: 100%;
        height: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        border: 0.5px solid black;
    }
}

@media (min-width: 361px) and (max-width: 575.98px) {
    .content-title {
        font-size: 18px;
    }
    .content-card {
        padding: 20px 10px 20px 10px !important;
    }
    .side-nav-open {
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        overflow-x: hidden;
    }
    .side-nav-close {
        width: 180px;
        position: fixed;
        top: 0;
        left: 0;
        overflow-x: hidden;
    }
    .content {
        width: 100%;
        margin-left: 0;
    }
    .content-expand {

        width: 100%;
        margin-left: 180px;
    }
    .top-navbar{
        width: 100%;
        margin-left: 0;
    }
    .top-navbar-expand{
        width: 100%;
        margin-left: 180px;
    }
    .content-screenshot{
        width: 100%;
        height: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        border: 0.5px solid black;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .content-title {
        font-size: 20px;
    }
    .content-card {
        padding: 20px 10px 20px 10px !important;
    }
    .side-nav-open {
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        overflow-x: hidden;
    }
    .side-nav-close {
        width: 180px;
        position: fixed;
        top: 0;
        left: 0;
        overflow-x: hidden;
    }
    .content {
        width: 100%;
        margin-left: 0;
    }
    .content-expand {

        width: 100%;
        margin-left: 180px;
    }
    .top-navbar{
        width: 100%;
        margin-left: 0;
    }
    .top-navbar-expand{
        width: 100%;
        margin-left: 180px;
    }
    .content-screenshot{
        width: 100%;
        height: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        border: 0.5px solid black;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .content-title {
        font-size: 20px;
    }
    .content-card {
        padding: 20px 10px 20px 10px !important;
    }
    .side-nav-open {
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        overflow-x: hidden;
    }
    .side-nav-close {
        width: 180px;
        position: fixed;
        top: 0;
        left: 0;
        overflow-x: hidden;
    }
    .content {
        width: 100%;
        margin-left: 0;
    }
    .content-expand {

        width: 100%;
        margin-left: 180px;
    }
    .top-navbar{
        width: 100%;
        margin-left: 0;
    }
    .top-navbar-expand{
        width: 100%;
        margin-left: 180px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {

}

@media (min-width: 1200px) {

}


